.loaderContainer{
    width: 100vw;
    max-width: 420px;
    height: 100vh;
    background-color: #222321;
    display: flex;
    justify-content: center;
    align-items: center;

}
.loaderContainer img{
    width: 100%;
    object-fit: contain;
}