.foodContainer {
  width: 100vw;
  max-width: 420px;
    height: 100vh;
    background-color: rgb(38, 38, 38);
    overflow-y:  scroll;
    
  }
  .foodContainer::-webkit-scrollbar {
    display: none;
}
  .search {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .search input {
    width: 90%;
    height: 25px;
    border-radius: 15px;
    background-color: rgb(32, 32, 32);
    border: none;
  }