.navBar-container {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(38, 38, 38);
}
.bars-menu {
  padding-left: 15px;
}
.bars-menu svg {
  color: #e7832b;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container span {
  color: white;
}

.logo-container img {
  width: 30px;
}
.sales {
  padding-right: 15px;
}
.sales svg {
  color: #e7832b;
}
.menu{
  position: absolute;
  top: -500px;
  width: 220px;
  height: 50vh;
  margin-top: 60px;
  background-color: #e7832b;
  border-radius: 21px 50px 50px 0px / 0px 40px 40px 0px;
  -webkit-box-shadow: 1px 3px 19px -3px #000000;
  box-shadow: 1px 3px 19px -3px #000000;
  opacity: 0;
  transform: scale(0.8);
}
.active{
  top: 0;
   opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
  z-index: 100;
}