.navBar-container {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(38, 38, 38);
}
.bars-menu {
  padding-left: 15px;
}
.bars-menu svg {
  color: #e7832b;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container span {
  color: white;
}

.logo-container img {
  width: 30px;
}
.sales {
  padding-right: 15px;
}
.sales svg {
  color: #e7832b;
}
